<!-- maze/templates/maze/draw_maze.html -->
<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw Maze</title>
    <style>
        canvas {
            border: 1px solid black; /* Ensure the canvas has a visible border */
            background-color: white; /* Set the initial background to white */
        }
    </style>
</head>
<body>
    <canvas id="mazeCanvas" width="480" height="320"></canvas> <!-- Set default canvas size -->
    <button onclick="submitMaze()">Submit Maze</button>

    <!-- Load the JavaScript files -->
    <script src="{% static 'maze/initCanvas.js' %}"></script>
    <script src="{% static 'maze/eventHandlers.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            initializeCanvas(parseInt("{{ width }}", 10), parseInt("{{ height }}", 10), 20);
        });
    </script>    
</body>
</html>
